// -------------------------------------------------------
// Setting of Site
// -------------------------------------------------------

// font styles
body {
	font-family: "Helvetica Neue",
	"游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
	"メイリオ", Meiryo, Helvetica,Arial,sans-serif;
}

// normalize reset
establish-baseline('normalize')

// default font styles
baseFont-size = 14
baseFont-color = #555

// default color
default-color = blue

// text hilight color
hilight-color = red

// vendor prefixes
vendors = webkit moz o ms official

// custom image base path for roots mixins
img-path = ''

// progressive internet explorer (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'

// grid system settings (http://semantic.gs)
column-width = 60px
gutter-width = 20px
columns = 12

// colors palet
red = #d14233
rightred = #e85445
darkred = #a02626
pink = #f4a1a1
rightpink = #ffd2d2
darkpink = #d9a5a5
orange = #f4a62a
rightorange = #e67e22
darkorange = #cf6d17
yellow = #f2ca27
rightyellow = #fadf73
darkyellow = #deb925
green = #2bc06a
rightgreen = #34cf76
darkgreen = #129a4b
blue = #2980b9
rightblue = #3498db
darkblue = #2c3e50
purple = #9b50ba
rightpurple = #9b59b6
darkpurple = #7b18a4
brown = #8b572a
rightbrown = #b58256
darkbrown = #6e3c10
gray = #ecf0f1
rightgray = #fafafa
darkgray = #8c9899
white = #fff
black = #272727
