// -------------------------------------------------------
// Integration
// -------------------------------------------------------

// Reset for normalize ===============================
normalize()

// grid
grid()

// Setting, Mixin, grid, Base styles ===============================
@import '_settings'
@import '_mixin'
@import '_grid'
@import '_base'

// Layout ===============================
@import 'layouts/_l-header'
@import 'layouts/_l-main'
@import 'layouts/_l-side'
@import 'layouts/_l-footer'
@import 'layouts/_l-about'
@import 'layouts/_l-pager'

// Module ===============================
@import 'module/_m-about'
@import 'module/_m-button'
@import 'module/_m-form'
@import 'module/_m-icon'
@import 'module/_m-logo'
@import 'module/_m-modal'
@import 'module/_m-navigation'
@import 'module/_m-slide'
@import 'module/_m-tabs'
@import 'module/_m-acodion'

// State ===============================
@import 'state/_s-state'

// Theme ===============================
@import 'theme/_t-theme'

// shame styles ===============================
@import '_shame'
